<%if @article.errors.any?%>
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <h4 class="alert-heading">following errors stopped the article saving</h4>
  <ol>
    <%@article.errors.full_messages.each do |error|%>
    <li><%=error%></li>
    <%end%>
  </ol>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<%end%>
